* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(178, 174, 174);
  position: sticky;
  top: 0px;

  a {
    text-decoration: none;
    margin-right: 20px;
  }

  nav {
    margin-left: 1250px;
    list-style: none;
    font-size: 20px;
    a {
      color: white;
    }
  }

  .LG {
    display: inline-block;
    color: red;
    font-size: 40px;
  }

  .LG,
  nav,
  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.SC {
  background: white;
  margin-left: 65px;
  margin-top: 100px;
  margin-bottom: 30px;
  border: 2px solid lightblue;
  width: 538px;
  height: 600px;
  display: inline-block;
  vertical-align: middle;
  h2 {
    margin: 20px;
  }
  p {
    margin: 20px;
  }
  a {
    margin: 0px 20px;
    margin-top: 60px;
    text-align: right;
    display: block;
  }
}
